{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "pebbledocker",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "shapeshed/node-hello:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8080"
    }
  ]
}
